# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pdb
*.egg-info/
dist/
build/
.env
.venv/
venv/
env/
pip-log.txt

.vscode/
.history/

.DS_Store
Thumbs.db
desktop.ini

# Logs
*.log

*.class
*.o
*.so
*.dll
*.exe
*.out

coverage/
*.cover
*.coverage
*.lcov
.nyc_output/

# Misc
*.swp
*.swo
*.bak
*.tmp

*.tgz
*.tar.gz
*.zip

.ipynb_checkpoints/

tmp
/tmp
tmp/
/tmmp/

.env
/.env
